@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background-color: #f1f4f9;
    margin: 0;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-weight: bold;
}

.container {
    margin: auto;
    max-width: 1200px;
    padding: 2rem;
}

#progressBarHolder {
    h2 {
        display: inline-block;
    }
}

.progressBar {
    background-color: gray;
    border: 1px solid white;
    border-radius: 2rem;
    height: 4rem;
    margin-bottom: 5rem;

    .progressInner {
        background-color: green;
        height: 100%;
        text-align: right;
        width: 25%;
        border-radius: 2rem;
        transition: 1s;

        .progressPercent {
            color: white;
            line-height: 4rem;
            padding: 1rem;
        }
    }

    .progressBarMessage {
        text-align: center;
        padding: .5rem;
        margin: 0px auto 0rem;
        display: block;
        width: 150px;
        font-size: 1.5rem;
    }
}

.yourGoal {
    text-align: right;
    display: inline-block;
    float: right;
    margin-top: 3rem;

    .editGoal {
        margin-left: 2rem;
    }
}

#featuredItems {
    background: rgba(0, 0, 0, .1);
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2rem;

    h2 {
        margin-top: 0;
    }
}
.featuredRight {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: top;

    .featuredImage{
        width: 400px;

        img {
            width: 400px;
            height: auto;
        }
    }

    .featuredText {
        background: #0099cc;
        color: white;
        font-size: 2rem;
        height: 7rem;
        line-height: 7rem;
        margin-bottom: .5rem;
        text-align: center;
    }
}

.textLinkList {
    display: inline-block;
    margin-right: 6rem;
    min-width: 200px;

    ul {
        padding-left: 0;
        list-style-type: square;

        li {
            display: block;
            display: block;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            padding-left: 2rem;

            &:hover {
                color: #0099cc;
                cursor: pointer;
            }

            &:before {
                content: "•";
                height: 50px;
                left: 5px;
                position: absolute;
                width: 50px;
            }
        }
    }
}

#leftSide {
    display: inline-block;
}

#rightSide {
    background-color: gray;
    color: white;
    display: inline-block;
    height: 100%;
    min-height: 130vh;
    padding: 1rem;
    position: absolute;
    right: 0;
    vertical-align: top;
    width: 250px;
}

.eventsCalendar {
    background-color: gray;
    right: -10px;
    top: 0;
    width: 250px!important;

    button time {
        color: #3c3c3c;
    }

    p {
        padding: .5rem;
    }
}

.react-calendar__navigation {
    color: black!important;
}

#quoteHolder  {
    text-align: center;
    color: #0099cc;
    padding: 0;

    h2 {
        font-size: 2rem;
        // max-width: 800px;
        margin: 0rem auto 0;
    }
}

.textLinks {
    margin-top: 4rem;
}

.modalWindow {
    background: rgba(0, 0, 0, .6);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    &.showModal {
        display: block;
    }

    .modalInner {
        background:blue;
        color: white;
        height: 600px;
        margin: 12rem auto;
        overflow-x: hidden;
        overflow-y: auto;
        width: 700px;

        img {
            width: 800px;
        }
        iframe {
            display: block;
            width: 100%;
        }

    }
}

#learningModal {

}


#pathProgress {
    padding: 1rem;
    background: #f1f1f1;
    width: 1000px;
    height: 400px;
    margin: 5rem auto;
    z-index: 4;
    text-align: center;

    .circle {
        background-color: gray;
        border-radius: 50%;
        border: 8px solid gray;
        display: inline-block;
        height: 150px;
        overflow: hidden;
        vertical-align: middle;
        width: 150px;
    }
    .line {
        background-color: gray;
        display: inline-block;
        margin: -3px;
        padding: 2rem;
        vertical-align: middle;
        width: 120px;
    }

    h2 {
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    .yourGoal {
        float: none;
        display: block;
        text-align: center;
    }
}

.learningPath {
    color: #2b365d;
    display: inline-block;
    font-weight: bold;
    margin-left: 4rem;
    padding-left: 5rem;
    position: relative;
    text-transform: uppercase;

    &:before {
        background-image: url('/learning-path.svg');
        height: 40px;
        width: 40px;
        content: "";
        position: absolute;
        left: 0;
        top: -12px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover {
        cursor: pointer;
        color: #0099cc;
    }

}