@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    // background-color: #fbfbfb;
    background-color: #f1f4f9;
    margin: 0;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
