$color-primary: #515d2b;
$color-secondary: #2b365d;
$color-highlight: #0099cc;
$color-white: #fff;

li {
  display: inline-block;
  margin: auto;
  position: relative;
}

.headerLeft {
  width: 400px;
  display: flex;
}

.headerRight {
  float: right;
  margin-right: 2rem;
}

.containerNav {
  width: 100%;
  margin: auto;
}

.App-header {
  background: $color-highlight;
  color: $color-white;
  display: flex; 
  padding: 1rem;
  position: relative;

  a {
    text-decoration: none;
    color: $color-white;
  }

  > li {
    &.active {
      color: $color-primary;

      &:after {
        border-bottom: 5px solid $color-primary;
        bottom: -1rem;
        content: "";
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    &:hover {
      cursor: pointer;

      &:after{
        border-bottom: 5px solid $color-primary;
        bottom: -1rem;
        content: "";
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  @media screen {
    
  }

  .userMenu {

    &:hover {
      cursor: pointer;
    }

    .userMenuContent {
      background: $color-highlight;
      box-shadow: 1px 6px 7px rgba(0, 0, 0, .3);
      margin: 0;
      min-width: 120px;
      padding: 0;
      padding: 1rem;
      position: absolute;
      display: none;
      z-index: 5;
      margin-left: -1rem;

      &.showMenu {
        display: block;
      }

      li {
        padding: .5rem 0;
        color: $color-white;
      }
    }
  }
}

.subNav {
  background-color: $color-secondary;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: $color-white;
  padding: 1rem;
}